*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #f2f2f2 ;
	margin: 0 auto;
	max-width: 1920px;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	color:#415871;
	text-align: center;
	min-width: 700px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

#banniere{
	background-position: center center;
	display:block;
	background-image:url(ban.jpg);
	width: 100%;
	color: #f7f7f7;	
	height: 80px;
	position: fixed;
	top: 0;
}

#logo{
	font-variant: small-caps;
	padding-top: 0px;
	font-size: 2.5em;
}

#banniere a{
	text-transform: lowercase;
	font-variant:  small-caps ;
	font-size: 1.2em;
	color : #F0F0F0;
	text-decoration: none;
}

#banniere a:hover{
	color : #F9F9F9;
}

.billet_homepage{
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border: 2px solid #415871;
	background-color: #f7f7f7;
	margin-left: auto;
	margin-right: auto;
	margin-top : 20px;
	padding: 20px;	
	max-width: 500px;
	height: 140px;
}

.billet_homepage a{
	color :#415871;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 1.3em;
}

.date_billet_homepage{
	font-size: 0.6em;
	/*	margin: 100px auto 1px auto;*/
}

footer{
	height: 17px;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-image:url(ban.jpg);
	color: white;	
	text-align: center;
	font-variant: small-caps;
	font-size: 0.8em;
}

#left_panel {
	position: fixed;
	top: 90px;
	float:left;
	width:15%;
	height:100%;
	min-height: 400px;
	overflow:hidden;
	text-align:center;
	min-width: 120px;
	margin-bottom: 40px;
	font-variant: small-caps;
	font-size: 20px;
}


#right_panel {
	margin-top: 90px;
	padding-top: 10px;
	float:left;
	max-width:960px;
	margin-left: 19%;
	display:inline-block;
	width:60%;
	height:100%;
	min-height: 400px;
	min-width:400px;
	overflow:hidden;
	text-align:center;
	margin-bottom: 40px;
}

#inscription a{
	font-variant: small-caps;
	text-align: left;
	list-style: none;
	padding:0px;
	font-size: 1em;
	color:#415871;	
}

#inscription a:hover{
	color:#f7f7f7;
	background: #415871;
	padding-left: 20px;
	width: 130px;
	text-decoration: none;
	-moz-transition: all .5s; 
	-webkit-transition: all .5s; 
	-o-transition: all .5s; 
	transition: all .5s;	
}



.cat_billet a{
	font-size: 0.9em;
	font-variant: small-caps;	
}

.side_menu_item {
	border-radius: 2px 2px;
	border : transparent solid 1px;
	padding-top: 10px;
	margin: 0px auto 0px 0px;
	font-size: 0.7em;
}

.side_menu_item ul{
	padding: 0;
	margin: 0;
	float: left;
}

.side_menu_item ul li{
	font-variant: small-caps;
	text-align: left;
	list-style: none;
	padding:0px;
	font-size: 1.2em;
}

.side_menu_item ul li a{
	text-decoration: none;
	color:#415871;
	padding: 4px;
	display: block;
	background: transparent;
	width: 230px;
	-moz-transition: all .5s; 
	-webkit-transition: all .5s; 
	-o-transition: all .5s; 
	transition: all .5s;
	line-height: 20px;
}


.side_menu_item ul li a:hover{
	color:#f7f7f7;
	background: #415871;
	padding-left: 20px;
	width: 130px;
	-moz-transition: all .5s; 
	-webkit-transition: all .5s; 
	-o-transition: all .5s; 
	transition: all .5s;
}

#formulaire{
	margin-top: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


input[type=text] {
	padding:5px; border:2px solid #ccc; 
	margin-top: 2px;
}	

input[type=text]:focus {
	border-color:#415871; 
}

input[type=password] {
	padding:5px; border:2px solid #ccc; 
	margin-top: 2px;
}	

input[type=password]:focus {
	border-color:#415871; 
}

input[type=submit] {
	padding:5px 15px; background:#415871; border:0 none;
	color: #f7f7f7;
	cursor:pointer;
	margin-top: 5px;
	margin-right: 5px;	
}

label{
	color :#415871;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 1.3em;

}


#titre{
	margin-top: 200px;
	text-align:center;
	font-size: 1.9em;
	font-variant: small-caps;
}

#soustitre{
	color :#415871;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 1.3em;
}

.info{
	color: red;
	position: fixed;
	top: 85px;
	margin-right: auto;
	margin-left: 43%;
}

form {
	text-align: right;
	margin-right:40%;
	margin-left: auto;

}
